@page "/journal"
@attribute [Authorize]

<div>
    <button class="btn btn-primary" @onclick="ToggleAddJournalEntryArea">Add entry</button>
    <div class="@AddJournalEntryCssClass">
        <div class="row form-group">
            <div class="col-12">
                <p>Enter quote below:</p>
                <textarea class="form-control" type="text"></textarea>
            </div>
        </div>
    </div>
</div>

@code{
    private bool collapseJournalEntryArea = true;

    private string AddJournalEntryCssClass => collapseJournalEntryArea ? "collapse" : null;

    private void ToggleAddJournalEntryArea()
    {
        collapseJournalEntryArea = !collapseJournalEntryArea;
    }
}
