@page "/profile"
@attribute [Authorize]
@inject CurrentUser User

<h3>Profile for @User.User.Email</h3>
<div>
    <p>
        User first name is @FirstName
    </p>
</div>

@code{
    private string FirstName = string.Empty;

    protected override void OnParametersSet()
    {
        FirstName = User.User.FirstName;
    }
}
