@page "/quotes"
@attribute [Authorize]

@using IT.Valor.Client.Components
@using IT.Valor.Common.Models
@using IT.Valor.Common.Models.Quote

@inject IApiClient Client

<div class="font-italic">
    <div>
        <button type="button" class="btn btn-primary float-right" @onclick="ShowInputForm">Add new</button>
        <br />
        <br />
        <br />

        @if (showInput)
        {
            <CascadingValue Value="this"><QuoteComponent @bind-ShowArea="showInput" /></CascadingValue>
        }


    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Quote</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Date Added</th>
                </tr>
            </thead>
            <tbody>
                @if (quotes.Any())
                {
                    @foreach (var quote in quotes)
                    {
                        <tr>
                            <th>@quote.Content</th>
                            <td>@quote.AuthorName</td>
                            <td>@quote.BookTitle</td>
                            <td>@quote.DateCreated.Date.ToString("d")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code{
    private bool showInput = false;
    private IEnumerable<QuoteDto> quotes { get; set; } = new List<QuoteDto>();
    private int Count { get; set; }

    public async Task RerenderTable()
    {
        await LoadQuotes();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadQuotes();
    }

    private async Task LoadQuotes()
    {
        var queryParams = new PageParameters()
        {
            PageNumber = 1
        };
        var result = await Client.GetForUserAsync(queryParams);
        quotes = result.Items;
        Count = result.TotalCount;
    }

    private void ShowInputForm()
    {
        showInput = !showInput;
    }
}