@page "/quotes"

@using IT.Valor.Client.Components
@using IT.Valor.Common.Models.Index

@inject IApiClient Client

<div class="font-italic">
    <div>
        <button type="button" class="btn btn-primary float-right" @onclick="ShowInputForm">Add new</button>
        <br />
        <br />
        <br />

        @if (showInput)
        {
            <CascadingValue Value="this"><QuoteComponent @bind-ShowArea="showInput" /></CascadingValue>
        }
    </div>

    @foreach (var q in quotes)
    {
        <p>@q.Content</p>
    }
</div>

@code{
    private bool showInput = false;
    private IEnumerable<QuoteDto> quotes = Enumerable.Empty<QuoteDto>();

    public async Task RerenderTable()
    {
        await LoadQuotes();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadQuotes();
    }

    private async Task LoadQuotes()
    {

        quotes = await Client.GetForUserAsync();
    }

    private void ShowInputForm()
    {
        showInput = !showInput;
    }
}